/* about */

.cohost.blueprint-logo {
  background-image: url("../img/cohosts/blueprint.png");
}

.cohost.calhacks-logo {
  background-image: url("../img/cohosts/calhacks.png");
}

.cohost.cs4good-logo {
  background-image: url("../img/cohosts/cssocialgood.png");
}

.cohost.treehacks-logo {
  background-image: url("../img/cohosts/treehacks.svg");
}

