/* about */

.cohost {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  margin: 15px;
  display: inline-block;
  opacity: 0.6;
}

.cohost.blueprint-logo {
  background-image: url("../img/cohosts/blueprint.png");
}

.cohost.tbg-logo {
  background-image: url("../img/cohosts/tbg.png");
}

.cohost.asuc-logo {
  background-image: url("../img/cohosts/asuc.png");
}

.cohost.hab-logo {
  background-image: url("../img/cohosts/hab.png");
}

.cohost.rishi-logo {
  background-image: url("../img/cohosts/rishi.png");
}

.cohost.enable_tech-logo {
  background-image: url("../img/cohosts/enable_tech.png");
}
