/* Color Variables

turquoise: 5DCCCB;
yellow: FFD454;

*/

/* Typography */

@font-face {
  font-family: "Phenomena";
  src: url(../fonts/Phenomena-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Phenomena Bold";
  src: url(../fonts/Phenomena-Bold.otf) format("truetype");
}

p.customfont {
  font-family: "Phenomena Bold", "Phenomena", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Phenomena Bold", Helvetica, Arial,  sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

h2 {
  font-family: "Phenomena Bold", Helvetica, Arial,  sans-serif;
  font-size: 20px;
}

h3 {
  font-family: "Phenomena Bold", Helvetica, Arial,  sans-serif;
  font-size: 15px;
}

p {
  font-size: 16px;
  letter-spacing: normal;
  line-height: 28px;
}

a {
  color: #666;
  border-bottom: 4px solid #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover, a:focus, a:active {
  color: #FFD454;
  text-decoration: none;
  border-bottom: 4px solid #FFD454;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.solo-title {
  color:#5DCCCB;
  margin-bottom: 15px;
}

body {
  background-color: #fdfdfd;
}

/* Buttons */

i {
    display: inline-block;
    border-radius: 100px;
    border: 1px solid #737373;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

i:hover {
    border: 1px solid transparent ;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.fa:before {
    line-height: 28px;
    color: #737373;
}

/* Home */

.home {
  width: 100%;
  height: 700px;
  position: relative;
  padding: 200px 60px 0px 60px;
}

.home-title {
  font-family: Phenomena, Helvetica, Arial,  sans-serif;
  font-size: 100px;
  color: #5DCCCB;
  line-height: 72px;
}

.home-sub-title {
  font-size: 36px;
  color: #FFD454;
  margin-top: -35px;
  margin-bottom: 50px;
}

.home-info {
  margin-top: 10px;
  font-size: 28px;
}

.home-apply-button {
  font-family: Phenomena, Helvetica, Arial,  sans-serif;
  font-size: 36px;
  color: #FFD454;
  line-height: 72px;
  text-transform: uppercase;
  /* more button stuff*/
}

/* About */

.cohost, .nonprofit {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  margin: 15px;
  display: inline-block;
  opacity: 0.6;
}

.cohost.blueprint-logo {
  background-image: url("../img/cohosts/blueprint.png");
}

.cohost.tbg-logo {
  background-image: url("../img/cohosts/tbg.png");
}

.cohost.asuc-logo {
  background-image: url("../img/cohosts/asuc.png");
}

.cohost.hab-logo {
  background-image: url("../img/cohosts/hab.png");
}

.cohost.rishi-logo {
  background-image: url("../img/cohosts/rishi.png");
}

.cohost.enable_tech-logo {
  background-image: url("../img/cohosts/enable_tech.png");
}

.nonprofit.rishi-logo {
  background-image: url("../img/nonprofits/rishi.png");
}

.nonprofit.acumen-logo {
  background-image: url("../img/nonprofits/acumen.png");
}

.nonprofit.back_to_the_roots-logo {
  background-image: url("../img/nonprofits/back2daroots.png");
}

.bawar-logo {
  background-image: url("../img/nonprofits/bawar.png");
}

.nonprofit.easy_does_it-logo {
  background-image: url("../img/nonprofits/ezdoesit.png");
}

.nonprofit.root_and_rebound-logo {
  background-image: url("../img/nonprofits/rootandrebound.png");
}

.nonprofit.teach_for_america-logo {
  background-image: url("../img/nonprofits/tfa.png");
}

.berkeley_builds-logo {
  background-image: url("../img/2017bb-lightbulb.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  height: 75px;
  width: 75px;
}

/* Navbar */

.navbar-nav li a, .navbar-header a {
  line-height: 61px;
  font-size: 16px;
}

.navbar {
  background-color: #ffffff;
  border: 0;
  box-shadow: 0px 0px 10px #ddd;
}
